* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    background-color: grey;
    padding: 14px 17px;
}
.navbar__list {
    display: flex;
    padding: 0;
    margin-block: 0;
    margin-left: auto;
}
.navbar__item {
    list-style-type: none;
    font-size: 20px;
}
.navbar__link {
    text-decoration: none;
    color: white;
      
}
.navbar__brand {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.navbar__item:not(:last-child) {
    margin-right: 10px;

}